<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mediico"
    android:versionCode="TODO"
    android:versionName="TODO">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <activity android:name=".Main3Activity"></activity>
        <activity android:name=".addtoCart" />
        <activity android:name=".verify_admin" />
        <activity
            android:name=".SearchResultActivitySpecific"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SearchResultsActivity" />
        <activity android:name=".medicine_pharmacy_add" />
        <activity android:name=".showSingleMedicine" />
        <activity
            android:name=".medicine_show"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.app.search"
                android:resource="@layout/search" />
        </activity>
        <activity android:name=".pharmacy_entry" />
        <activity android:name=".admin_general" />
        <activity android:name=".admin_medicine_reg" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userActivity" />
        <activity android:name=".DeliverymanActivity" />
    </application>

</manifest>